# Workflow Name
name: Build and Test (Run unit testing)

# Events that trigger the workflow
on:
  # Trigger on pushes to the master and develop branch
  push:
    branches: [ "master","develop" ]
  # Trigger on pull requests targeting the main branch
  pull_request:
    branches: [ "master","develop" ]

# Define the jobs to run
jobs:
  build:
    # Run the job on the latest Ubuntu runner
    runs-on: ubuntu-latest
    
    # Define the steps for the job
    steps:
    
    # 1. Checkout the source code
    - name: Checkout Repository
      uses: actions/checkout@v4



    # 3. Build and Test the project with Maven
    - name: Build and Run Tests
      # The '--batch-mode' flag prevents interactive prompts
      # 'verify' phase compiles, runs tests, and checks results
      run: mvn --batch-mode --update-snapshots verify
      # Ennvironment variables for Mongo DB
      env:
        MONGODB_URI: ${{ secrets.MONGODB_URI }}
        MONGO_DB: ${{ secrets.MONGO_DB }}

    # 4. (Optional) Upload the resulting JAR/WAR artifact
    # This is useful if you want the artifact to be available for review or a later CD step
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        # The name under which the artifact will be stored
        name: microservice-artifact
        # Path to your compiled jar/war file (adjust the path if necessary)
        # This assumes a typical Maven target directory structure
        path: target/*.jar
        # Retention period in days (optional)
        retention-days: 5
